@tailwind base;
@tailwind components;
@tailwind utilities;

.Chart {
    overflow: visible;
}

.Chart text {
    fill: #595c5c;
}

.Line {
    transition: all 0.3s ease-out;
}

.Line--type-line {
    fill: none;
    stroke: #06b6d4;
    stroke-width: 3px;
    stroke-linecap: round;
}

.Line--type-area {
    fill: none;
    stroke-width: 0;
}

.Line--type-area {
    fill: #00dfeb;
    stroke-width: 0;
}

.Axis__line {
    stroke: #595c5c;
}

.Axis__label {
    text-anchor: middle;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

.Axis__tick {
    font-size: 0.8em;
    transition: all 0.3s ease-out;
}

.AxisHorizontal .Axis__tick {
    text-anchor: middle;
}

.AxisVertical .Axis__tick {
    dominant-baseline: middle;
    text-anchor: end;
}

.Circles__circle {
    fill: #00dfeb;
    transition: all 0.3s ease-out;
}

.Bars__rect {
    fill: #00dfeb;
    transition: all 0.3s ease-out;
}

.domain,
.tick line {
    stroke: #dadada;
}